<div style="border: 1px solid #ffffff">
	<h4><%= post.title %></h4>
	<p><%= post.content %></p>
	<p>Like: <span style="color: #0000ff"><%= post.like %></span></p>
	<p><a href="/foods/show/<%= post.id %>">보기</a></p>
</div>
