<div class="container">
	<div class="row">
		<h2>맛집 정보 변경하기</h2>

		<form action="/foods/update" method="post">
			<p>분류: 
				<select name="post_category">
					<option value="korean">한식</option>
					<option value="chinese">중식</option>
					<option value="japanese">일식</option>
					<option value="western">양식</option>
				</select></p>
			<p>제목: <input type="text" name="post_title" value="<%= @post.title %>"></p>
			<p>내용: <textarea name="post_content"><%= @post.content %></textarea></p>
			<input type="hidden" name="id" value="<%= @post.id %>">
			<input type="submit" value="수정하기">
		</form>
	</div>
</div>
